stage ('step-2') {
            echo "Este é o step 2 da minha esteira de dev"
        }

        stage ('step-3') {
            echo "Este é o step 3 da minha esteira de dev integrado com o github"
        }